#cloud-config
groups:
  - example

users:
  - name: example
    gecos: Example User
    primary_group: example
    groups: example
    lock_passwd: false
    passwd: example.123
    sudo: ALL=(ALL) ALL

bootcmd:
  - echo [IP] [HOST] >> /etc/hosts

yum_repos:
  example-repo:
    baseurl: http://[IP or Domain]/repo
    name: Example Repository
    enabled: true
    gpgcheck: false

packages:
  - java-1.8.0-openjdk
  - AICC-PGW
