#cloud-init
runcmd:
  # INSTALL PACKAGE
  - export USER_NAME=aiccpgw
  - export USER_PASS=aiccpgw.123
  - export HOME_PATH=/home/aiccpgw
  - export PACKAGE_PATH=/pacakge/aiccpgw
  - useradd -s /bin/bash -d ${HOME_PATH} ${USER_NAME}
  - echo ${USER_NAME}:${USER_PASS} | chpasswd
  - wget --no-check-certificate http://50.50.50.10/repo/AICC-PGW/AICCPGW-R1.1.0-1.noarch.rpm -P ${PACKAGE_PATH}
  - yum -y localinstall ${PACKAGE_PATH}/AICCPGW-R1.1.0-1.noarch.rpm

  # MODIFY CONFIG FILE
  - export HOST_IP=$(echo $(hostname -I))
  - sed -i "/SERVER_IP =/ c\SERVER_IP = ${HOST_IP}" ${HOME_PATH}/${USER_NAME}/config/aicc_default.config
  - sed -i "/INTER_IP =/ c\INTER_IP = ${HOST_IP}" ${HOME_PATH}/${USER_NAME}/config/aicc_default.config
  #- sed -i "/PEER_IP =/ c\PEER_IP = ${HOST_IP}" ${HOME_PATH}/aiccpgw/config/aicc_default.config
  - sed -i '/    <property name="LOGS_ABSOLUTE_PATH" value=/ c\    <property name="LOGS_ABSOLUTE_PATH" value="'${HOME_PATH}/${USER_NAME}'/logs"/>' ${HOME_PATH}/aiccpgw/config/logback.xml
  - sed -i '/    <property name="CALL_ABSOLUTE_PATH" value=/ c\    <property name="CALL_ABSOLUTE_PATH" value="'${HOME_PATH}/${USER_NAME}'/logs/call_log"/>' ${HOME_PATH}/aiccpgw/config/logback.xml
  - sed -i '/    <property name="HOST_NAME" value=/ c\    <property name="HOST_NAME" value="'${USER_NAME}'"/>' ${HOME_PATH}/aiccpgw/config/logback.xml

  # START PACKAGE
  - su - aiccpgw -c 'sh /home/aiccpgw/aiccpgw/bin/run.sh start'
  - sleep 20;

  # CONFIGURE & START UTGEN
    # UAS
  - sed -i "/HOME=/ c\HOME=/root" /root/utgen/bin/uas_aicc_1.sh
  - sed -i "/DST_HOST=/ c\DST_HOST=${HOST_IP}" /root/utgen/bin/uas_aicc_1.sh
  - sed -i "/SRC_HOST=/ c\SRC_HOST=${HOST_IP}" /root/utgen/bin/uas_aicc_1.sh

    # UAC
  - sed -i "/HOME=/ c\HOME=/root" /root/utgen/bin/uac_aicc_1.sh
  - sed -i "/DST_HOST=/ c\DST_HOST=${HOST_IP}" /root/utgen/bin/uac_aicc_1.sh
  - sed -i "/SRC_HOST=/ c\SRC_HOST=${HOST_IP}" /root/utgen/bin/uac_aicc_1.sh

  - echo ${HOST_IP} > /root/utgen/config/uas_host
  - echo ${HOST_IP} > /root/utgen/config/uac_host
  - echo ${HOST_IP} > /root/utgen/config/aicc_host

  #- sh /root/utgen/bin/uas_aicc_1.sh > /dev/null 2>&1 &
  #- sleep 5;
  #- sh /root/utgen/bin/uac_aicc_1.sh > /dev/null 2>&1 &
